# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Generated data
data/model/
data/processed/
data/tmdb_cache/

# Raw MovieLens dataset
data/raw/*.csv

# Logs
*.log